@{
    ViewData["Title"] = "About Bub";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header'>
            <div class="about-section-bg"></div>
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>So you want to learn more.</h1>
        </div>
    </div>
</div>

<div class='content-background'>
    <div class='details-info'>
        <h1>Curiosity killed the cat... but satisfaction brought it back.</h1>
        <p style='padding-bottom:50px;'>My name is Jasper. My pronouns are They/Them. I graduated from Western Oregon University in June 2023 with a Bach of Science in Computer Science. I'm a software engineer and use my skills to make stuff. In recent times, primarily this website, which I've been slow cooking because I keep redesigning it. Thats just kind of like me, though. I enjoy anime and video games. My primary source of content has been Hololive. If you took a look at my gallery, you've seen a bunch of hololive already. I like gif-ing them a lot. Below is lists of stuff I enjoy, hopefully with some cool cards or something. </p>
    </div>
</div>

<div class="content-background">
    <div class='details-container col'>
        <div class='anime-list-container row'>
            <div class="anime-inf col">
            </div>
        </div>

        <div class='games-list-container row'>
            <div class="games-info">
            </div>
        </div>
    </div>
</div>


@* <div class='content-background'>
    <div class='home-container row'>
        <div class='index-box-one col'>
            <p class='text left'></p>
            <form>
                <button class="index-button" asp-action='gallery' asp-controller="home">Gallery</button>
            </form>
        </div>
    </div>
</div> *@