@{
    ViewData["Title"] = "About Bub";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header col'>
            <img class="details-gif" src="../img/8towasama.gif" alt="Intro Gif">
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>About Bub</h1>
            <p style="margin-top: 15px;width:250px;">Here is some information about me.</p>
        </div>
    </div>
</div>

<div class='content-background-fd'>
    <div class='details-info'>
        <h1>about me</h1>
        <p style='padding-bottom:50px;'>My name is Jasper. My pronouns are They/Them. I graduated from Western Oregon University in June 2023 with a Bach of Science in Computer Science. I'm a software engineer and use my skills to make stuff. In recent times, primarily this website, which I've been slow cooking because I keep redesigning it. Thats just kind of like me, though. I enjoy anime and video games. My primary source of content has been Hololive. If you took a look at my gallery, you've seen a bunch of hololive already. I like gif-ing them a lot. Below is lists of stuff I enjoy, hopefully with some cool cards or something. </p>
    </div>
</div>

<div class="content-background">
    <div class='details-container col'>
        <div class='anime-list-container row'>
            <div class="anime-inf col">
                <h1>Bubs anime list</h1>

                @* <div class="container">
                    <div class="card">
                        <h3 class="title">Card 1</h3>
                    </div>
                    <div class="card">
                        <h3 class="title">Card 2</h3>
                    </div>
                    <div class="card">
                        <h3 class="title">Card 3</h3>
                    </div>
                    <div class="card">
                        <h3 class="title">Card 4</h3>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Skip n Loafer</h5>
                        <p class="card-text">You can find more information on Skip n Loafer <a href="https://myanimelist.net/anime/50416/Skip_to_Loafer">here.</a></p>
                        <img class="card-img" src="" alt="Skip n Loafer">
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div> *@


                <p>Need to watch:</p>
                <ul>
                    <li>skip n loafer</li>
                    <li>do it yourself!!</li>
                    <li>the devil is a part timer (dub!)</li>
                    <li>birdie wing</li>
                    <li>world dai star</li>
                    <li>izetta the last witch</li>
                    <li>yuri is my job</li>
                    <li>buddie daddies</li>
                    <li>honse anime</li>
                    <li>adachi and shima</li>
                    <li>ippon</li>
                    <li>onimai</li>
                    <li>magical revolution of the reincarnated princess</li>
                    <li>akiba maid war</li>
                    <li>scoring ping pong girls</li>
                    <li>kimi no todoke</li>
                    <li>100 girlfriends episode 1,2,3</li>
                    <li>frieren</li>
                    <li>bartender</li>
                    <li>tamayomi</li>
                    <li>cross game</li>
                    <li>girls last tour</li>
                </ul>
                <p>Watched:</p>
                <ul>
                    <li>burn the witch</li>
                    <li>villainess</li>
                    <li>vexations</li>
                    <li>demon slayer</li>
                    <li>my hero academia</li>
                    <li>laid back camp</li>
                    <li>a certain scientific railgun</li>
                    <li>nichijou</li>
                    <li>blue lock</li>
                    <li>your name</li>
                    <li>bocchi</li>
                    <li>jellyfish can't swim in the night</li>
                    <li>the many sides of voice actor radio</li>
                    <li>big windup</li>
                    <li>mix</li>
                    <li>ace of diamond</li>
                    <li>fairy tail</li>
                    <li>if my favorite idol went to the budokan I would die</li>
                    <li>vest the stampede (2023)</li>
                </ul>    
            </div>
        </div>

        <div class='games-list-container row'>
            <div class="games-info">
                <h1>Bubs video game list</h1>

                @* <div class="container">
                    <div class="card">
                        <h3 class="title">Card 1</h3>
                    </div>
                    <div class="card">
                        <h3 class="title">Card 2</h3>
                    </div>
                    <div class="card">
                        <h3 class="title">Card 3</h3>
                    </div>
                    <div class="card">
                        <h3 class="title">Card 4</h3>
                    </div>
                </div> *@


                <p>Favorites:</p>
                <ul>
                    <li>Dishonored 1 & 2</li>
                    <li>Minecraft Java & Bedrock</li>
                    <li>Stardew Valley</li>
                    <li>Slime Rancher 1 & 2</li>
                    <li>Genshin Impact</li>
                    <li>Moonlighter</li>                
                </ul>

                <p>Played (to relative completion):</p>
                <ul>
                    <li>Call of Duty (all of them)</li>
                    <li>Dead by Daylight</li>
                    <li>No Man's Sky</li>
                    <li>Beat Saber</li>
                    <li>PVZ</li>
                    <li>Muse Dash</li>
                    <li>Tomb Raider Series</li>
                    <li>Outer Wilds</li>
                    <li>Katana ZERO</li>
                    <li>Lego Series</li>
                    <li>Need for Speed</li>
                    <li>Insaniquarium</li>
                    <li>Virtual Villagers (all of them)</li>
                </ul>    
            </div>
        </div>
    </div>
</div>


<div class='content-background-fr fade'>
    <div class='home-container row'>
        <div class='index-box-one col'>
            <img class='suisei-gif' src="../img/7suisei.gif" alt="Suisei Gif">
        </div>
        <div class='index-box-two col'>
            <p class='text left'>I make a lot of stuff. Images can be found in my gallery.</p>
            <form>
                <button class="index-button" asp-action='gallery' asp-controller="home">Gallery</button>
            </form>
        </div>
    </div>
</div>