@{
    ViewData["Title"] = "Gallery";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header col'>
            <img class="details-gif" src="../img/15suisei.gif" alt="Suisei Gif">
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>Gallery</h1>
        </div>
    </div>
</div>

<div class="content-background-fd">
    <img class='gallery-gif' src="../img/7suisei.gif" alt="A Gif of Hoshimachi Suisei from Hololive 3rd Fes: Link Your Wish.">
    <img class='gallery-gif' src="../img/8towasama.gif" alt="A Gif of Tokoyami Towa from Hololive 3rd Fes: Link Your Wish.">
    <img class='gallery-gif' src="../img/aqutowa.gif" alt="A Gif of Tokoyami Towa and Minato Aqua from Hololive 5th Fes: Capture The Moment.">
    <img class='gallery-gif' src="../img/35suitowa.gif" alt="A Gif of Hoshimachi Suisei and Tokoyami Towa from Hololive 3rd Fes: Link Your Wish.">
    <img class='gallery-gif' src="../img/sodamachine.gif" alt="A Gif of a Sodamachine made in picoCAD.">
    <img class='gallery-gif' src="../img/triangle_mailbox.gif" alt="A Gif of a Mail Box made in picoCAD.">
    <img class='gallery-gif' src="../img/car1_2.gif" alt="A Gif of a Car made in picoCAD.">
    <img class='gallery-gif' src="../img/eyepatch_asuka_1.gif" alt="A Gif of Asuka Langley from the final Eva Rebuild Movie.">
    <img class='gallery-gif' src="../img/rei_q_reading.gif" alt="A Gif of Rei Q reading a book from the final Eva Rebuild Movie.">
    <img class='gallery-gif' src="../img/shinji_fishing_1.gif" alt="A Gif of Shinji fishing from the final Eva Rebuild Movie.">
    <img class='gallery-gif' src="../img/oh wrow.gif" alt="A Gif of Hoshimachi Suisei from Hololive, at her Budokan performance.">
</div>

<div id="galleryModal" class="modal">
    <div class='modal-content'>
        <span class="close">&times;</span>
        <img class="modalImg" id="modalIng">
        <div id="captionText" class="captionText"></div>
    </div>
</div>