@{
    ViewData["Title"] = "Home Page";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header'>
            <div class="about-section-bg"></div>
        </div>
        <div class='about-section-body' style="text-align:left;">
            <h1>Hello There<img class='heart-balloon heart-balloon-animation' src='img/heart-balloon.svg'></h1>
            <p style="margin-top: 15px;width:250px;">My name is Jasper. I'm a software engineer, gifmaker, video game developer and enjoyer, 3D Modeler, photographer, and digital artist.</video></p>
            <form>
                <button class="index-button" asp-action='details' asp-controller="home">More about Me</button>
            </form>
        </div>
    </div>
</div>

<div class="content-background-fr fade-in-element">  
    <div class="home-container row">
        <div class='index-box-one'>
            <p class='text left'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Summum a vobis bonum voluptas dicitur. Animum autem reliquis rebus ita perfecit, ut corpus; Animum autem reliquis rebus ita perfecit, ut corpus; Quid nunc honeste dicit? Quid adiuvas?</p>
        </div>

        <div class='index-box-two'>
            <form>
                <button class="index-button" asp-action='details' asp-controller="home">button</button>
            </form>
        </div>
    </div>
</div>

<div class="content-background-fl fade-in-element">  
    <div class="home-container row">
        <div class='index-box-two right'>
            <form>
                <button class="index-button" asp-action='details' asp-controller="home">button</button>
            </form>
        </div>
        
        <div class='index-box-one'>
            <p class='text right'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Summum a vobis bonum voluptas dicitur. Animum autem reliquis rebus ita perfecit, ut corpus; Animum autem reliquis rebus ita perfecit, ut corpus; Quid nunc honeste dicit? Quid adiuvas?</p>
        </div>
    </div>
</div>

<div class="content-background-fr fade-in-element">  
    <div class="home-container row">
        <div class='index-box-one'>
            <p class='text left'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Summum a vobis bonum voluptas dicitur. Animum autem reliquis rebus ita perfecit, ut corpus; Animum autem reliquis rebus ita perfecit, ut corpus; Quid nunc honeste dicit? Quid adiuvas?</p>
        </div>

        <div class='index-box-two'>
            <form>
                <button class="index-button" asp-action='details' asp-controller="home">button</button>
            </form>
        </div>
    </div>
</div>

