@{
    ViewData["Title"] = "3D models";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header col'>
            <img class="models-gif" src="../img/35suitowa.gif" alt="Model Page Gif">
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>Models</h1>
        </div>
    </div>
</div>

<div class='content-background-fd'>
    <div class='details-info'>
        <h1>models info</h1>
        <p>hello again. i have been developing a video game with picoCAD, a modeling software based on, you guessed it, pico graphics. its been very fun! its also taking me forever to do. 3D modeling is NOT easy. below are some of the downloads for the files along with gifs of them. im sure theres an explanation or a link to an explanation on how to use them. you may need to get picoCAD if you really wanna mess around with the models. Thank you.</p>
    </div>
</div>

<div class="content-background-fd">
    <h1 class='gif-title'>Gifs</h1>
    <img class='gallery-gif' src="../img/sodamachine.gif" alt="A Gif of a Sodamachine made in picoCAD.">
    <img class='gallery-gif' src="../img/triangle_mailbox.gif" alt="A Gif of a Mail Box made in picoCAD.">
    <img class='gallery-gif' src="../img/car1_2.gif" alt="A Gif of a Car made in picoCAD.">
</div>

<div id="galleryModal" class="modal">
    <div class='modal-content'>
        <span class="close">&times;</span>
        <img class="modalImg" id="modalIng">
        <div id="captionText" class="captionText"></div>
    </div>
</div>