@{
    ViewData["Title"] = "3D models";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header'>
            <div class="about-section-bg"></div>
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>3D Models</h1>
        </div>
    </div>
</div>

<div class='content-background'>
    <div class='details-info'>
        <h1>Hello Again.</h1>
        <p>I have been making 3D models with picoCAD, a modeling software based on, you guessed it, pico graphics. It has been very fun! It also takes me forever to finish. 3D modeling is NOT easy. Feel free to click the gifs. Thank you.</p>
    </div>
</div>

<div class="content-background">
    <img class='gallery-gif' src="../img/sodamachine.gif" alt="A Gif of a Sodamachine made in picoCAD.">
    <img class='gallery-gif' src="../img/triangle_mailbox.gif" alt="A Gif of a Mail Box made in picoCAD.">
    <img class='gallery-gif' src="../img/car1_2.gif" alt="A Gif of a Car made in picoCAD.">
</div>

<div id="galleryModal" class="modal">
    <div class='modal-content'>
        <span class="close">&times;</span>
        <img class="modalImg" id="modalIng">
        <div id="captionText" class="captionText"></div>
    </div>
</div>