@{
    ViewData["Title"] = "Projects";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header col'>
            <img class="projects-gif" src="../img/eyepatch_asuka_1.gif" alt="Intro Projects Gif">
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>Projects</h1>
        </div>
    </div>
</div>

<div class="content-background">
    <div class='logos-container'>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/selenium/selenium-original.svg" alt="selenium logo" title="selenium logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" alt="microsoftsqlserver logo" title="microsoftsqlserver logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" alt="npm logo" title="npm logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/raspberrypi/raspberrypi-original.svg" alt="raspberrypi logo" title="raspberrypi logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html5 logo" title="html5 logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firefox/firefox-original.svg" alt="firefox logo" title="firefox logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="javascript logo" title="javascript logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="python logo" title="python logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pycharm/pycharm-original.svg" alt="pycharm logo" title="pycharm logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cucumber/cucumber-plain.svg" alt="cucumber logo" title="cucumber logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/anaconda/anaconda-original.svg" alt="anaconda logo" title="anaconda logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" alt="mongodb logo" title="mongodb logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg" alt="nginx logo" title="nginx logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" alt="django logo" title="django logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nuget/nuget-original.svg" alt="nuget logo" title="nuget logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" alt="jquery logo" title="jquery logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original.svg" alt="jira logo" title="jira logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="vscode logo" title="vscode logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg" alt="azure logo" title="azure logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/windows8/windows8-original.svg" alt="windows8 logo" title="windows8 logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="css3 logo" title="css3 logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/canva/canva-original.svg" alt="canva logo" title="canva logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="csharp logo" title="csharp logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="bootstrap logo" title="bootstrap logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" alt="dotnetcore logo" title="dotnetcore logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg" alt="flask logo" title="flask logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" alt="bash logo" title="bash logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg" alt="unity logo" title="unity logo"/>
        <img class="logos" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gimp/gimp-original.svg" alt="gimp logo" title="gimp logo"/>        
    </div>
</div>

<div class="content-background">
    <div class="project-page">
        <div class='projects-container'>
            <h1>Projects</h1>
            <form class='project'>
                <button class="index-button" asp-action='models' asp-controller="home">picoCAD project stuff</button>
            </form>
            <div class='project'><a class='project-button' href="https://github.com/Bubbles0989" target="_blank">my Github</a></div>
            <div class='project'><a class='project-button' href="https://github.com/Bubbles0989/bubs-minecraft-mods" target="_blank">Minecraft Mods</a></div>
            <div class='project'><a class='project-button' href="https://github.com/Bubbles0989/Panda-Programmers" target="_blank">Capstone Project</a></div>
            <div class='project'><a class='project-button' href="https://github.com/Bubbles0989/Byte4Byte.Dev" target="_blank">this sites source code</a></div>
            <div class='capstone-link'></div>
            <div class='animation-box-projects'></div> 
        </div>
    </div>
</div>

